.about {
    margin-left: 60px;
}

.section-header {
    font-size: 2.5rem;
    text-align: left;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #09BC8A;
}

.about-main-section {
    display: flex;
    margin-left: 30px;
    align-items: center;
    gap: 20px;
    height: fit-content;
}

.about-main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    height: 500px;
    width: 50%;
    margin-top: 20px;
}

.icons-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    // margin-left: 30px;
}

.icon-landing {
    width: 4rem;
}

.icon-landing svg path {
    // fill: #CAFFD0;
    // fill:#AEC2D5;
    fill:#74B3CE;
} 

.icon-landing svg:hover path {
    // fill: #CAFFD0;
    fill: #09BC8A;
      // fill: #AEC2D5;
}
  // .icon-landing svg::before path {
  //     // content: "";
  //     // position: absolute;
  //     // display: block;
  //     // width: 100%;
  //     // height: 2px;
  //     // bottom: 0;
  //     // left: 0;
  //     transform: scaleX(0);
  //     transform-origin: top left;
  //     transition: transform 0.3s ease;
  //     fill: #CAFFD0;
  // }
  // .icon-landing svg:hover::before path{
  //   transform: scaleX(1);
  // }