.navbar {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  height: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0B2545;
  color: #8DA9C4;}

.navbar button {
  text-decoration: none;
  color: #8DA9C4;
  background-color: transparent;
  border: none;
  // color: black;
}

.navlink:hover {
  // text-decoration: underline;
  color:#CAFFD0;
}

.navlink {
  font-size: 1.5rem;
  font-family: "Fira Sans", sans-serif;
  background-color: "transparent";
  border: "none"
}
@media screen and (min-width: 650px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
    height: fit-content;
  }
}