.projects {
    margin-bottom: 15px;
    height: 500px;
}

.projects-title {
    font-size: 2.5rem;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #09BC8A;
}

.projects-main-section {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.project-content {
    margin-bottom: 15px;
    display: flex;
    justify-content: left;
    gap: 40px
}
.project-title {
    text-align: left;
    font-size: 2rem;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 4px;
    color: #09BC8A;
}

.projects-tab {
    height: fit-content;
}
.projects-primary-tabs {
    flex-direction: column;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    align-items: left;
    width: 25%;
    gap: 10px;
}

.project-card-text {
    text-align: left;
    font-size: 20px;
    color: #A4CEDF;
}
.project-card-footer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.linkout {
    width: 30px;
    svg {
        width: 100%;
        fill: #74B3CE;
    }
}
.linkout:hover {
    svg {
        width: 100%;
        fill: #09BC8A;
    }
}

@media screen and (max-width: 650px) {
    .project-content {
        // width: 100%;
        flex-direction: column;
    }
    .project-card {
        width: 100%;
    }
}