.projects {
    margin-left: 60px;
    margin-bottom: 15px;
    height: 500px;
    // margin-left: 30px;
}

.projects-title {
    font-size: 2.5rem;
    text-align: left;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #09BC8A;
}

.projects-main-section {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 15px;
    // height: 500px;
    // border: solid 5px #09BC8A;
    width: 85%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.project-content {
    // margin-top: 30px;
    // margin-left: 30px;
    margin-bottom: 15px;
    // height: 500px;
    // border: solid 5px #09BC8A;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 6px;
}
.project-title {
    text-align: left;
    font-size: 2rem;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 4px;
    color: #09BC8A;
}

.projects-tab {
    height: fit-content;
}
.projects-primary-tabs {
    flex-direction: column;
}