.landing {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon {
  width: 40px;
}

h1 {
  text-align: center;
}

.headshotContainer {
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 25%;
}
