@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Dosis&family=Questrial&family=Tajawal&family=Varela+Round&display=swap');

.landing {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.skillscontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subheading {
  background-color: #4533cd;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  width: 50%;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon {
  width: 40px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.bio {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.headshotContainer {
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 25%;
}

.skills {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 15px;
  gap: 25px;
}

.subskills {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 10px;
  width: 30%;
}

.logoskill {
  width: 6rem;
  height: 6rem;
}

.link {
  margin-bottom: 15px;
}

.buttonContainer {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Tajawal", sans-serif;
}
.buttonContainer button {
  font-family: "Tajawal", sans-serif;
}