#icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon {
  width: 40px;
}
.headshot-container {
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 25%;
}

.summary {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

h1 {
  text-align: left;
  margin-left: 20px;
}

.skills {
  display: flex;
  gap: 20px;
}

.bio {
  display: flex;
  gap: 20px;
}

.right-bio {
  text-align: left;
}

.left-bio {
  text-align: right;
  width: 20%;
  margin-left: 20px;
}