.headshotContainer {
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 25%;
}

.summary {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

h1 {
  text-align: left;
  margin-left: 20px;
}

.subheading {
  margin-top: 15px;
  margin-bottom: 0px;
}

.skills {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.bio {
  display: flex;
  gap: 20px;
}

.rightBio {
  text-align: left;
}

.leftBio {
  text-align: right;
  width: 20%;
  margin-left: 20px;
}

.link {
  margin-bottom: 15px;
}