.contact {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon {
  width: 40px;
}

.headshotContainer {
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 55%;
}

.form {
  display: flex;
  /* flex-direction: column; */
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.leftform {
  display: flex;
  flex-direction: column;
  align-content: left;
  justify-content: space-between;
}

.rightform {
  display: flex;
  flex-direction: column;
  align-content: left;
  justify-content: space-between;
  gap: 10px;
  width: 70%;
}

.submit {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #4533cd;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  width: 75%;
  border: none;
}