.contact {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon {
  width: 40px;
}

.headshotContainer {
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.headshot {
  max-width:auto;
  height:100%;
}

.form {
  display: flex;
  /* flex-direction: column; */
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.leftform {
  display: flex;
  flex-direction: column;
  align-content: left;
  justify-content: space-between;
}

.rightform {
  display: flex;
  flex-direction: column;
  align-content: left;
  justify-content: space-between;
  gap: 10px;
  width: 70%;
}

.submit {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #4533cd;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  width: 75%;
  border: none;
  padding-bottom: 0;
  /* font-family: "Tajawal", sans-serif; */
}

@media screen and (min-width: 650px) {

  .contact {
    font-size: 1.5rem;
  }

  .headshotContainer {
    height: 490px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .headshot {
    max-width:auto;
    height:100%;
  }

  .form {
    display: flex;
    /* flex-direction: column; */
    align-content: center;
    justify-content: center;
    gap: 20px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  .submit {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #4533cd;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    width: 40%;
    border: none;
    padding-bottom: 0;
    /* font-family: "Tajawal", sans-serif; */
  }
  #icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .icon {
    width: 4rem;
  }
}
